

.contente{
    display: flex;
    align-items: stretch;
    margin-bottom: -10px;
    flex-direction: column;
    
}
.portrait{
    display: table-cell;
    width: 90%;
   
    height: 100%;
    margin-left: 5%;
    border-radius: 0.25em;
    margin-top: 1em;
    
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    
   
}

.desc{
    overflow: hidden;
    overflow-y:auto;
    flex-direction: column;
    margin-top: 1em;
    margin-left:5%;
    margin-right:5%;
    background-color: rgb(230, 230, 230);
    padding: 1em;
    padding-top: 0em;
    border-radius: 0.25em;
    height:30em;
   
    
}

.KeyCharacters{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    position: relative;
    
}

.KeyContainer{
    margin-top: 1.5em;
    background-color: rgb(230, 230, 230);
    padding: 1em;
    padding-top: 0.1em;
    border-radius: 0.25em;
    border-width: 0px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
 
    
}


.Character{
    
    border-radius: 0.25em;
    border-width: 0px;
    padding-top: 0.5em;
    border-style:solid;
    border-color: rgb(0, 160, 135);
    width: 100%;
   
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    display: none;
    
    
}
.Characterb{
    
    border-radius: 0.25em;
    border-width: 0px;
    padding-top: 0.5em;
    border-style:solid;
    border-color: rgb(0, 160, 135);
    width: 100%;
   
    text-align: left;
    
    border-collapse: collapse;
    display: block;
  
    
}
#keyLink{
   position: absolute;
   right: 1.1em;
   top:2em
}


.SubCharactera{
    
    border-width: 1px;
    border-style:solid;
    border-color: rgb(25, 88, 78);
    background-color: rgb(0, 150, 125);
    color: rgb(255, 255, 255);
    padding: 0.5em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    width: 30%;
}
.SubCharacterb{
    
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    background-color: rgb(243, 243, 243);
    padding: 0.5em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    
    width: 50em;

}

.Gal{
   background-color:  rgb(230, 230, 230);
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 1em;
   background-color: rgb(230, 230, 230);
   padding: 1em;
   padding-top: 0em;
   border-radius: 0.25em;
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 1em;
   padding-right: 1em;
   border-radius: 0.2em;
   display: flex;
   align-items:stretch;
   flex-wrap: wrap;
   min-height: 20vh;
   color: rgb(61, 61, 61)
}
#Big{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
    pointer-events: none; 
}
#BigImgCont{
    
    width: auto;
    padding: 1em;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    background-color: rgb(243, 243, 243);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    padding-top: 0.6em;
    padding-bottom: 0.5em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border-radius: 0.4em;
    color:rgb(12, 12, 12); 
    pointer-events:all;
    position: relative;
   
}
#BigImg{
    max-height: 85vh;
    max-width: 100%;
    z-index: 2;
}
#BigImgText{
    font-size: 0.9em;
    color: rgb(61, 61, 61);
    white-space:pre-wrap;

}
#Button1{
   font-size: 8em;
   height:30px;
   cursor: pointer;
   pointer-events: all;
   margin: auto;
   
}

#Button2{
    height: 30px;
    cursor: pointer;
    transform:rotate(180deg);
    pointer-events: all;
    margin: auto;
    
 }

.ImageHolder{
    background-color: rgb(243, 243, 243);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    width: 48%;
    cursor: pointer;
    text-align:end;
    border-width: 1px;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    padding-top: 0.3em;
    padding-bottom: 2.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 0.2em;
    color:rgb(12, 12, 12);
    margin: 0.5%;
    margin-bottom: 1.5%;
    position: relative;
   
    
}

.Credit1{
    position: absolute;
    bottom: 0.2em;
    right: 0.4em;
    color: rgb(105, 105, 105);
}


.ImageMain{
    width: 100%;
}
  
                    

.break {
    flex-basis: 100%;
    height: 0;
  }

  @media only screen and (min-width: 650px){
    #Button1{
        height:45px;
        margin-left: 5%;
     }
    #Button2{
        height:45px;
        margin-right: 5%;
     }
    .contente{
        display: flex;
        align-items: stretch;
        margin-bottom: -10px;
        flex-direction:row;
        
    }
    
    .portrait{
        display: table-cell;
        width: 45%;
       
        height: 100%;
        margin-left: 5%;
        border-radius: 0.25em;
        margin-top: 1em;
        
        border-width: 1px;
        border-style:solid;
        border-color: rgb(61, 61, 61);
        
       
    }
    .ImageHolder{
        
        width: 32.333%;
        margin: 0.5%;
    }
    .desc{
        overflow: hidden;
        overflow-y:auto;
        flex-direction: column;
        display: table-cell;
        margin-top: 1em;
        margin-left:1%;
        margin-right:5%;
        background-color: rgb(230, 230, 230);
        padding: 1em;
        padding-top: 0em;
        border-radius: 0.25em;
        border-width: 0px;
        border-style:solid;
        border-color: rgb(61, 61, 61);
        height:fit-content;
        aspect-ratio : 1 / 1.022;
        
        
    }

  }
  @media only screen and (min-width: 1000px){
   
    #Button1{
        height:50px;
        margin-left: 15%;
     }
    #Button2{
        height:50px;
        margin-right: 15%;
     }
    .contente{
        display: flex;
        align-items: stretch;
        margin-bottom: -10px;
        flex-direction:row;
        
    }
    .portrait{
        display: table-cell;
        width: 35%;
        height: 100%;
        margin-left: 5%;
        border-radius: 0.25em;
        margin-top: 1em;
        border-width: 1px;
        border-style:solid;
        border-color: rgb(61, 61, 61);
        
       
    }
    
    .ImageHolder{
       
        width: 24%;
        cursor: pointer;
        text-align:end;
        border-width: 1px;
        border-width: 1px;
        border-style:solid;
        border-color: rgb(61, 61, 61);
        padding-top: 0.3em;
       
        padding-left: 0.3em;
        padding-right: 0.3em;
        border-radius: 0.2em;
        color:rgb(12, 12, 12);
        margin: 0.5%;
        position: relative;
       
        
    }
    .desc{
        overflow: hidden;
        overflow-y:auto;
        flex-direction: column;
        display: table-cell;
        margin-top: 1em;
        margin-left:1%;
        margin-right:5%;
        background-color: rgb(230, 230, 230);
        padding: 1em;
        padding-top: 0em;
        border-radius: 0.25em;
        border-width: 0px;
        border-style:solid;
        border-color: rgb(61, 61, 61);
        
        aspect-ratio : 1 / 0.6488;
       
  }
  .Character{
    
   
    display:table;
    
}
.Characterb{
    
   
    display:none;
    
}
.SubCharactera{
    
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 0.5em;
    width: auto;

    
}
.SubCharacterb{
    
    padding-top: 0px;
    
    padding-bottom: 0px;
    padding: 0.5em;
    width: auto;

   

    
    
}

}