*{

    box-sizing: border-box;
   
  
}


/* unvisited link */
a{
    text-decoration: none;
}
a:link {
    color: rgb(0, 140, 115);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 140, 115);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  :root {
    scrollbar-color: transparent transparent;
  }
#mainBack {
    position:relative; 
    display: fixed; 
    margin: 0px; 
    margin-top: -0.9em; 
    width: 100%;  
    min-height: 100ch; 
    height: 100vh;
     text-align: center; 
    
    background-size: cover; 
   
    background-position-x:  40%;
    
    
}
.keyBox{
   
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    gap:1em;
    flex-wrap: wrap;
    padding: 2vh;
    align-items: flex-start;
}
.keyCube{
    display: block;
    background-color: rgb(33, 59, 93);
    width: 7.5em;
    height: 7.5em;
    border-radius: 0.4em;
    background-image: url("/img/Defualt.png");
    background-size: cover;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
}

.keyCube:hover .overKeyBox{
   opacity: 1;
}
.overKeyBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease;
    opacity: 0;
    background-color: rgba(193, 193, 193, 0.248);
    
  }
  
.about{
    width:70%; 
    border-radius: 100em;
    margin-left: 15%;
    margin-top: 3vh;
}
#sercCont{
    top: 60vh; width:calc(25% + 100px); height: 2em; position: absolute;   left: 50%;
    transform: translateX(-50%);
}

#searchRes{
   
    background-color: rgba(243, 243, 243, 0.692);
    margin-bottom: 20em
 }
html, body{
    background-color: rgb(36, 36, 36);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
 
}

::-webkit-scrollbar{
    
    width: 10px;
  
}

::-webkit-scrollbar-thumb{

    
    background: rgb(182, 182, 182);
}
body::-webkit-scrollbar-track{

    background: rgba(207,207,207);

    
}
::-webkit-scrollbar-track{

    background: rgba(255, 255, 255, 0);

    
}
.searhRes{
   margin-top: -1.2em;
   
   padding:10px 10px;
 
}
.searhRes:hover{
   
    background-color: rgba(34, 34, 34, 0.089);
    color:rgb(243, 243, 243);
   
 }
 .searhReM{
    margin-top: -1.2em;
   
    padding: 10px 10px;
    background-color: rgb(0, 150, 125);
    color:rgb(243, 243, 243);
   
 }

 .sercLink{
    padding-right: 1000em;
    white-space: nowrap;
    padding-top: 0.7em;
    padding-bottom:  0.7em;
    
 }
 input[type=text] {
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 4px;
  }
  input[type=text]:focus {
  
   outline-color: rgb(44, 44, 44);
   outline-width: 2px;
   outline-style: solid;
   background-color: rgb(0, 150, 125);
  }

.inp{
    display: block;
    width: 5em;
    
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-size: 1em;
    background-color: rgb(248, 248, 248);
   
}
#Menu{

    position: fixed;
   
   
    height: 100%;
    width: 0em;
    z-index: 2;
    overflow: hidden;
    transition: left 0.2s ease;
    min-height: 38em;
    background: rgb(17, 17, 17);
    left: -17em;
    width: 250px;
       
}
#Overlay{

    width: 1000em;
    height: 100em;
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 2;
    position:fixed;
    display: none;
}
.MenuItem{

    vertical-align: bottom;
    display: flex;
    z-index: 5;
    
    margin-left: 2.5em;
    margin-bottom: 5vh;
    font-size: 1.1em;
    white-space: nowrap;
    
}
#Contact{

    position: absolute;
    bottom:  4em;
}
#Twitter{

    position: absolute;
    bottom: 20%;
    left: 20%;
    cursor: pointer;
}
#Youtube{

    position: absolute;
    bottom: 20%;
    right: 20%;
    cursor: pointer;
}
#Phaulactis{

    width: 13.5em;
    margin-top: 0.6em;
    margin-left: 0.7em;
    animation: rotation 50s infinite linear;

}
@keyframes rotation {

    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
#MenuIcon{
  
   
    color: rgb(243, 243, 243);
    fill: rgb(255, 0, 0);
    margin-top: 0.6em;
    margin-left: -1.5em;
    z-index: 1;
    cursor: pointer;
    transform: scale(0.75);
    height: 0em;
    font-size: 1em; 
}
.Title{
    padding-left: 2em;
    padding-right: 2em;
    background: rgb(32, 32, 32);
   
    color: rgb(243, 243, 243);
    padding-bottom: 5px;
    
    text-align: center;
    font-size: 0.7em;
    font-weight: normal;
    height: auto;
    display: flex;
    justify-content:space-between;
    vertical-align: middle;
 
}
body {
    background-color: rgb(207, 207, 207);
  
  }
.Main{

    background-color: rgb(207, 207, 207);
    padding-top: 15px;
    padding-bottom: 3em;
   
   
}
.mainbar{
    
    margin-bottom: 0.5em; 
    
    margin-left: 0.5%;
    
    background:rgb(230, 230, 230);
    float:left; 
    width: 99%;
    height: 3.25em;
    display:inline;
    text-align: center;
    overflow: hidden;
    border-radius: 0.3em;
    padding: 0;
    position: relative;
    transition: max-height 0.1s ease;
}




.obj1{
   
    display:none;
}
.obj2{

    display:block;
    width: 100%;
}

.leftbar {

    background:rgb(230, 230, 230);
    margin: 0px 5%;
    padding: 0.5em;
    padding-right: 0.5em;
   
    width: auto;
    height: 80vh;
    flex-direction: column;
    float:left;
    border-radius: 0.5em;
    overflow: hidden;
    overflow-y:auto;
    padding-bottom: 0em;
    margin-bottom: 1em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
}
.sidebar {
    
    background:rgb(230, 230, 230);
    padding: 0.5em;
    margin: 0px 5%;
    width: auto;
    height: 60vh;
    flex-direction: column;
    position:static;  
    border-radius: 0.5em;
    overflow: hidden;
    overflow-y:auto;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
}


.top{
   
    background:rgb(87, 87, 87); 
    color: rgb(243, 243, 243);
    padding:10px; 
    margin: 0px 5%;
    margin-right: 0%;
    width: 90%;
    float:left;
    display: flex;
    height: 2.25em;
    border-radius: 0.3em; 
    position:relative;
    font-size: 1.3em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    
}

.top2{
   
    background:rgb(87, 87, 87); 
    color: rgb(243, 243, 243);
    padding:10px; 
    margin: 0px 5%;
    margin-left: 2%;
    width: 28%;
    float:left;
    display: flex;
    height: 3em;
    height: 2.25em;
    border-radius: 0.3em; 
    position:relative;
    font-size: 1.3em;
    display: none;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}
#Big2{

    position: fixed;
    width: 80%;
    margin-left: 10%;
    z-index: 200;
    top: 10vh;
    pointer-events: none; 
   
}
#infoBig{
    
    width: auto;
    padding: 1em;
    z-index: 2;
    vertical-align: middle;
    text-align: left;
    margin: auto;
    background-color: rgb(243, 243, 243);
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 0.4em;
    color:rgb(12, 12, 12); 
    pointer-events:all;
    position: relative;
    height: 80vh;
    display: none;
    overflow-y: scroll;
}
.top3{
    background:rgb(87, 87, 87); 
    color: rgb(243, 243, 243);
    padding:10px; 
    margin: 0px 5%;
    margin-left: 5%;
    width: 90%;
    float:left;
    display: flex;
    height: 3em;
    height: 2.25em;
    border-radius: 0.3em; 
    position:relative;
    font-size: 1.3em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    
}
.reset{
   
    background-image: url(/img/restart.png);
    background-color: rgb(87, 87, 87); 
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0px;
    width: 2.5em;
    height: 2.5em;
    right: 1%;
    top: 15%;
    color: rgb(54, 42, 42);
    position: absolute;
    cursor: pointer;
   
}

.btn {

    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-align: left;
    border-radius: 0.2em;
    color:rgb(12, 12, 12);
    transition: background-color 0.2s ease;
}

.btn-key{
    margin-bottom: 0.1em;
    font-size: calc(0.6em + 1vw);
    margin-left: -1px;
    margin-right: -1px;
    height: 3.5em;
    min-height: 1em;
    background-color: rgb(243, 243, 243);
    width: 100%;
    background-size: cover;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 3em;
}

.specDiv{
    margin-bottom: 0.5em; 
    background:rgb(230, 230, 230);
    height: 3em;
   
}

.btn-spec{
   
    
    font-size: 1em;
    background-color: rgb(243, 243, 243);
    display: block;
    height: 100%;
    width:  99%;
    margin: 0px 0px;
    padding-top: 0.8em;
    padding-left: 0.7em;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    
    
    
}


@media (hover: none) {
    ::-webkit-scrollbar{
    
        width: 0px;
      
    }
    #sercCont{
        top: 20vh; width:calc(25% + 100px); height: 2em; position: absolute;   left: 50%;
        transform: translateX(-50%);
    }
    #searchRes{
        max-height: 70vh;
        background-color: rgba(243, 243, 243, 0.692);
        margin-bottom: 20em
     }
    .mainbar{
    
        margin-bottom: 0.5em; 
        
      
        background:rgb(230, 230, 230);
        float:left; 
        margin-left: 1%;
        height: 3.25em;
        display:inline;
        text-align: center;
        overflow: hidden;
        border-radius: 0.3em;
        padding: 0;
        position: relative;
        margin-right: -5em;
        width: 98%;
       
    }
    .leftbar {

        background:rgb(230, 230, 230);
        margin: 0px 5%;
        padding-top: 0.5em;
       
        padding-left: 0%;
        margin-bottom: 1em;
       
    }
   
    .sidebar {
    
        background:rgb(230, 230, 230);
        padding: 0.01em;
        padding-top: 0.5em;
        margin: 0px 5%;
        width: auto;
        height: 30vh;
        flex-direction: column;
        position:static;  
        border-radius: 0.5em;
        overflow: hidden;
        overflow-y:auto;
    
    }

    .btn-spec{
   
    
        font-size: 1em;
        background-color: rgb(243, 243, 243);
        display: block;
        height: 100%;
        width:  98%;
        margin: 0px 0px;
        padding-top: 0.8em;
        padding-left: 0.7em;
        border-width: 1px;
        border-style:solid;
        border-color: rgb(61, 61, 61);
        margin-left: 1%;
        
        
        
    }
  }
.btn-head{
    white-space: pre-wrap;
    padding-top: 0.7em;
    padding-bottom: 1.9em;
    height: 1.4em;
    background-color: rgb(243, 243, 243);
    width: 100%;
    background-size: cover;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    font-size: 1.2em;
    margin-bottom: 0.05em;
}
#btnCont{
    margin-top: 1em;
    margin-bottom: -0.3em;
}
.btn-green1{
    border-radius: 6px;
    margin-left: 5%;
    margin-bottom: -0.7em;
    margin-top: 1em;
    width: auto;
    padding: 0.2em;
    min-width: 6em;
    padding-left: 1em;
    padding-right: 1em;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    background-color: rgb(0, 150, 125);
    color: rgb(243, 243, 243);
    

}
.btn-white1{
    border-radius: 6px;
    margin-left: 0.7em;
    margin-top: 1em;
    margin-bottom: -0.7em;

    padding: 0.2em;
    min-width: 5em;
    padding-left: 1em;
    padding-right: 1em;

    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    background-color: rgb(243, 243, 243);
}
.btn-green2{
    border-radius: 6px;
    margin-left: 0.7em;
    margin-top: 1em;
    margin-bottom: -0.7em;
    width: auto;
    padding: 0.2em;
    min-width: 5em;
    padding-left: 1em;
    padding-right: 1em;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    background-color: rgb(0, 150, 125);
    color: rgb(243, 243, 243);

}
.btn-white2{
   
    border-radius: 6px;
    margin-left: 5%;
    margin-bottom: -0.7em;
    margin-top: 1em;
    width: auto;
    padding: 0.2em;
    min-width: 5em;
    padding-left: 1em;
    padding-right: 1em;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    background-color: rgb(243, 243, 243);
   
}

.material-symbols-outlined{
    display: block;
    font-size: 2.2em;
    position: absolute;
    left: 0;
    top: 0.25em;
    pointer-events: auto;
    color: rgb(48, 48, 48);
    pointer-events: none;
    
    
}
.material-symbols-outlined-info{
    
    font-size: 2em;
    position: absolute;
    z-index: 100em;
    
    cursor:pointer;
    
    left :auto;
    right: 0.2em;
    top: 0.32em;
    pointer-events: all;
    color: rgba(0, 0, 0, 0.336);
    
}
.test{
    font-size: 2.2em;
    position: absolute;
    
    
    cursor:pointer;
    background-color: aqua;
   
    
    top: 0.55em;
    
    color: rgb(194, 38, 38);
} 
.img-res {
    
    width: 100%;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    
}
.img-res2 {
    
    width: 99.5%;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(61, 61, 61);
    
}
.taxBox{
    background: rgb(36, 36, 36);
    color: rgb(243, 243, 243);
    width: 100%;
    vertical-align: middle;
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    bottom: 0em;
   
    
}
.taxBox2{
    background: rgb(36, 36, 36);
    color: rgb(243, 243, 243);
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1.5em;
    margin-top: 1.5em;
    display: flex;
    justify-content: space-evenly;
    
    position: absolute;
    flex-wrap: wrap;
    bottom: 0em;
   
    
}
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap{
    padding-bottom: 5em;
}
.scrollbox {

    overflow: auto;
    
}

.scrollbox-inner{

    color: black;
   
}

.Refs{
   
    margin-left: 5%;
    margin-right: 5%;
    color:rgb(12, 12, 12);
}
.line-1{
    height: 1px;
  background: black;
  margin-bottom: 1em;
}

.Minor-title{
    margin-bottom: 0.2em;
    font-size: 1.2em;
}
.Text{

    margin: 1em;
    
}
.Container{

    max-width: 1200px;

}
.nav ul {
    margin: 0;
}

.nav li {

    display: inline-block;
}

.nav a{

    padding: 1em;
    color: rgb(57, 57, 57);
    text-decoration: none;
}




.Footer{
    
    margin-top: 2em;
    text-align: right;
    padding-Top: 30px;
    background-color: rgb(237, 237, 237);
    font-size: 1.2em;
    font-weight: lighter;
    border-top: 0px solid black;
   
}

@media only screen and (min-width: 650px){
    #Big2{

       
        width: 70%;
        margin-left: 15%;
       
       
    }
    .about{
        width:55%; 
        margin-left: 22.5%;
    }
    .keyCube{
        background-color: rgb(33, 59, 93);
        width: 10.5em;
        height: 10.5em;
    }
    #mainBack {
        position:relative; 
        display: fixed; 
        margin: 0px; 
        margin-top: -0.5em; 
        width: 100%;  
        margin-top: -0.9em; 
        height: 100vh;
        background-position-x:  40%;
    }
    #searchRes{
        max-height: 36vh;
        background-color: rgba(243, 243, 243, 0.692);
     }
   
    #mainBack ::-webkit-scrollbar{

        width: 0px;
     }
    #mainBack ::-webkit-scrollbar-thumb{
         
       background-color: rgba(0, 0, 0, 0);
       
    }
    
    .taxBox{
        font-size: 1.1em;
    }
    .taxBox2{
        font-size: 1.1em;
    }
    .Title{
      
         color: rgb(241, 241, 241);
         padding-bottom: 5px;
         
         margin: 0;
         text-align: center;
         font-size: 1em;
         font-weight: normal;
     
    }
    #MenuIcon{
        margin-top: 0.71em;
        margin-left: -1em;
        transform: scale(1);
        font-size: 1em; 
    }
    .Minor-title{
        margin-bottom: 0.2em;
        font-size: 1.5em;
    }
    .obj1{
   
        display:block;
    }
    .obj2{
    
        display:none;
    }
    
    
    .btn-key{
        font-size: calc(0.2em + 0.9vw);
        width: 49.67%;
       
    }
   

    .img-res {
    
        width: 49.5%;
        
        
    }
    
    .leftbar {

        height: 90vh;
        margin: 0px 5%;
       
        margin-bottom: 1em;
    
    }
    .sidebar {
        
        height: 60vh;
        margin: 0px 5%;
        margin-bottom: 1em;
            
    
    }

  
}



@media only screen and (min-width: 1281px){
    .about{
        width:40%; 
        margin-left: 30%;
    }
    .keyCube{
        background-color: rgb(33, 59, 93);
        width: 11.5em;
        height: 11.5em;
    }

    #Big2{

       
        width: 60%;
        margin-left: 20%;
       
       
    }

    #mainBack{
    
        margin-top: -0.9em; 
        width: 100%;  
        margin-bottom: -10em;
        min-height: 100ch; 
         text-align: center; 
        height: auto;
        background-size:cover; 
        
      
        background-position: center;
        
    }
    #mainBack ::-webkit-scrollbar{
       
        
        width: 0px;
     }
    #mainBack ::-webkit-scrollbar-thumb{
         
       background-color: rgba(0, 0, 0, 0);
       
    }
   
    .Title{
       
         color: rgb(243, 243, 243);
         padding-bottom: 5px;
         padding-Top: 0;
         margin: 0;
         text-align: center;
         font-size: 1.3em;
         font-weight: normal;
     
    }
    #MenuIcon{
        margin-top: 1.1em;
        margin-left: -1em;
        transform: scale(1);
        font-size: 1em; 
    }
    .top{
   
        background:rgb(87, 87, 87); 
        color: rgb(243, 243, 243);
        padding:10px; 
        margin: 0px 5%;
        margin-right: 0%;
        width: 60%;
        float:left;
        display: flex;
        height: 2.25em;
        border-radius: 0.3em; 
        position:relative;
        font-size: 1.3em;
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 0em;
        
    }
    
    .top2{
       
        background:rgb(87, 87, 87); 
        color: rgb(243, 243, 243);
        padding:10px; 
        margin: 0px 5%;
        margin-left: 2%;
        width: 28%;
        float:left;
        display: flex;
        height: 3em;
        height: 2.25em;
        border-radius: 0.3em; 
        position:relative;
        font-size: 1.3em;
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 0em;
    }

    .top3{
       display: none;
       border-bottom-left-radius: 0em;
       border-bottom-right-radius: 0em;
    }
    .leftbar {

        height: 90vh;
        margin: 0px 5%;
        margin-right: 2%;
        
        width: 60%;
       
        
    
    }
    .sidebar {
        
        height: 90vh;
        margin: 0px 5%;
        margin-bottom: 1em;

    }
    .btn-key{
        font-size: calc(0.3em + 0.5vw);
        width: 49.67%;
       
    }
   
}



